#about { 
  position: relative;
  padding-top: 70px;
  display: flex;
  flex-direction: column; 
  transition: 3s;
  font-size: var(--my-font-size);
  // &:before { 
  //   position: absolute;
  //   content: "";
  //   height: 70px;
  //   width: 100%;
  //   background-color: var(--my-bg-main);
  //   top: 0px;
  //   box-shadow: inset 0px 70px 210px rgba(0, 0, 0, 0.5);
  // }
    .aboutme {
      order: 1;
      padding: 30px;
      color: var(--my-text);
      box-sizing: border-box;
      display: flex;
        justify-content: center;
        align-items: center;
      background-color: var(--my-bg-second);
        h3 {
          margin-top: 25px;
          margin-bottom: 50px;
          font-size: 2em;
        }
        p{
          font-size: 1.5em;
        }
      }
    // }
  // }

  .photo {
    order: 2;
    max-height: 100vh;
    position: relative;
    width: calc(100% - 0px);
    overflow: hidden;
    background-image: url(./../img/abrakaDaba-removebg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: var(--my-bg-second);
    background-size: cover;
    padding-bottom: 120%;
    box-shadow: inset 0px -40px 145px rgba(0, 0, 0, 0.75);
    filter: sepia(.4);
    .fire {
      display: none;
      position: absolute;
      bottom: 2px;
      left: 30%;
      width: 35%;
      height: 15%;
      background-image: url(./../img/fire2.gif);
      z-index: 1000;
      background-size: 150% 70%;
      background-repeat: no-repeat;
      background-position: center bottom;
      border-radius: 0 0 55% 55%;
    }

    &:hover {
      background-image: url("./../img/magic_bean_by_David.jpg");
      background-position: center 5%;

      .fire {
        display: block;
      }
    }
  }



}

.photo:hover {
  background-image: url("./../img/magic_bean_by_David.jpg");

  .fire {
    display: block;
  }
}



.custom-nav {
  position: relative;
}