#home-page{
    height: 100%;
    min-height: 100vh; 
    font-size: var(--my-font-size);
    padding-bottom: 0;
    position: relative;
    
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
}
.welcome-note{
    line-height: calc(1.9vw + 13px);
    width: calc(100% - 30px);
    opacity: 0;
    max-width: 100%;
    margin: 1em auto 2em auto;
    // border: 1px solid #aaa;
    color: #e1deae;
    padding: 10px 0px;
    text-align: center;
    // overflow: hidden;
    // border-radius: calc(var(--my-shape) - 20%);
    // background-color: rgba(30, 30, 30, 0.2);
    text-shadow: 0px -3px 6px #222;
    h2{
        font-size: calc(3vw + 6px + 1em);
        .hey{
            filter: brightness(70%);
        }
        .david{
            filter: brightness(80%);
        }
        .front{
            filter: brightness(100%);
        }
    }
}

.welcome-note.option2{
    font-size: 1.5em;
    line-height: 2.2em;
    width: calc(100% - 30px);
 
    opacity: 0;
    max-width: 665px;
    margin: 1em auto;
    border: 1px solid #aaa;
    color: #e1deae;
    padding: 10px 20px;
    text-align: center;
    border-radius: calc(var(--my-shape) - 20%);
    background-color: rgba(30, 30, 30, .2);
    text-shadow: 2px 2px 3px #222;
}
#intro{
    text-align: center;
    opacity: 0;
    width: calc(100% - 30px);
    max-width: 820px;
    margin: 0 auto;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #fffef0; 
    transition: all 0.3s cubic-bezier(0.37, 0.31, 0.2, 0.85)!important;
    span{
        color: #61dafb;
        cursor: pointer; 
        transition: background-color .3s;
        &:hover{
            display: inline-block;
            color: rgb(190, 242, 255);
             
        }
    }

}
 
.question{ 
    width: calc(100% - 30px);
    opacity: 0;
    max-width: 100%;
    margin: .5em auto 1em auto;
    // border: 1px solid #aaa;
    color: #e1deae;
    padding: 10px 0px;
    text-align: center; 
    text-shadow: 0px -2px 6px #222; 
        font-size: calc(1vw + 13px);
        font-family: var(--font-heading)
}
.yes-no-box{
    height: 125px;
    width: 100%; 
    // position: relative;
}
#yes, #no, #runningYes{
    font-size: 1.5em;
    color: #61dafb;
    text-shadow: 0px 0px 5px black;
    font-weight: 700;
    position: absolute;
    bottom: 0; 
    height: 125px;
    width: 125px;
    // border: 1px dotted blue;
    background:url(./../img/gear.png), radial-gradient(#dadada6b 20%, #c7c7c700 40%, #00000000 70%);
    background-position: center; 
    background-size: contain; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 4s;
    cursor: pointer;
}
#yes{
    left: -125px;
}
#no{
    right: -125px;
}

.rotation-right{
    transform: rotate(360deg);
}

.rotation-left{
    transform: rotate(-360deg);
}

#runningYes{
    display: none;
    // position: absolute;
    // width: 175px;
    // height: 175px;
    // padding: 25px;
    // background-size: 71.5%;
    z-index: 1001;
    outline: none;
}

#runningYes.flex-el{
display: flex;
transition: .5s;
}