#form-display {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(4, 4, 4, 0.7);
    z-index: 1011;

    // #form-wrapper{
    //     width: 420px;
    //     max-width: calc(100% - 30px);
    // overflow: hidden;
    // max-height: 600px;
    .form-signin,
    .form-login {
        position: relative;
        padding-bottom: 6px;
        font-size: 18px;
        border-radius: 5px;
        width: 420px;
        max-width: calc(100% - 30px);
        padding: 30px;
        margin: 0 auto;
        background-color: #4b6484bf; 
        box-shadow: 5px 5px 25px black;

        .form-signin-heading,
        .form-login-heading {
            text-align: center;
            margin-bottom: 10px;
            color: #d2cfa7;
            text-shadow: 1px 1px 5px #000;
        }

        input,
        button {
            width: 100%;
            line-height: 1.4;
            padding: 10px;
            margin-top: 15px;
            font-size: 16px;
            border: 1px solid rgb(2, 1, 85);
            border-radius: 4px;
        }

        button {
            margin-top: 40px;
            font-weight: 700;
            cursor: pointer;
            color: rgb(2, 1, 85);

            &:hover {
                color: #fff;
                background-color: #c7d090;
            }
        }

        p {
            margin-top: 15px;
            text-align: center;
            color: #fff;

            span {
                color: #61dafb;
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
.form-signin{
    left: -100vw;
}
    .form-login {
        color: #034819;
        background-color: #82988abf;;
        display: none;
        opacity: 1;
        right: -100vw;
        padding-bottom: 0px;

        .form-login-heading {
            margin-bottom: 0;
        }

        #incorrect {
            color: #e03c3c;
            opacity: 0;
            line-height: 42px;
            font-size: 13px;
            background: #e8dbd4;
            border-radius: 4px;
            border: 1px solid #e65555;
            font-weight: 700;
            margin-top: 0;
        }
    }

    // }

}