////////////////////////
/// STYLES CONTAINER  ///
////////////////////////
.styles-container {
    display: none;
    font-size: 14px;
    height: auto;
    left: -280px; 
    width: 250px;
    background-color: rgba(255, 255, 255, .87);
    position: fixed;
    transition: .8 ease;
    top: 0px;
    z-index: 1010;
    border-bottom-right-radius: 6px;
// max-height: 100%;
//     overflow-x: visible;
//     overflow-y: scroll;
//     white-space: nowrap; 
    // transition-delay: 0s;
    h2 {
        text-align: center; 
        display: inline-table;
        position: relative;
        transform: translate(-50%, -40%);
        left: 26%
    }

    h3 {
        text-align: left;
        cursor: pointer;
        line-height: 1em;
        margin: 14px 0;
        background-image: url("./../img/dropdown-arrow.svg");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 15px;
        min-width: 215px;
        svg {
            position: relative;
            top: 6px;
            left: 10px;
            cursor: default;
        }
    }

    .roto {
        transform: rotate(180deg);
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    .input-wrapper {
        line-height: 40px;
    }

    .divider {
        min-width: 215px;
        width: 100%;
        height: 2px;
        background: var(--my-bg-main);
    }

    input {
        float: right;
        border: none;
        background: none;
        outline: none;
        height: 37px;
        width: 34px;
    }
#magnifier{
    width: 90px;
}
    label {
        line-height: 37px;
    }
    // max-height: 100%;
    .style-scroll{ 
        margin-top: 4px;
        padding: 20px 15px;
        max-height: 100vh;
    overflow-x: visible;
    overflow-y: auto;
    white-space: nowrap; 
    padding-bottom: 10px;
    }

}

// .styles-container:after {
//     content: "";
//     width: 55px;
//     height: 45px;
//     border-radius: 0 20px 20px 0;
//     position: absolute;
//     top: 0px;
//     right: -55px;
//     background-image: url("./../img/brush.svg");
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: right;
//     box-sizing: border-box;
//     top: 10px;
//     right: -150px;
//     cursor: pointer;
// }

.brush-box {
    position: sticky;
    height: 43px;
    top: 13px;
    width: 155%;
    background-image: url(./../img/brush-white.svg);
    background-size: 43px;
    background-repeat: no-repeat;
    background-position: right top;
    cursor: pointer;
    margin-top: 13px;
}

span.my-logo {
    width: 47px;
    height: 47px;
    display: inline-block;
    margin-left: 15px;
    box-shadow: none;
}



.dropmenu {
    height: 0;
    overflow: hidden;

    // overflow-y: scroll;
    span {
        margin-bottom: 8px;
    }
}

.dropdown {
    cursor: pointer;
}


.fav-item {
    height: 39px;
    // background-color: aqua;
    border-bottom: 1px solid #ddd;
    line-height: 39px;
    cursor: pointer;
}



.save-box {
    width: auto;
    padding: 15px 0;
    position: relative;
    cursor: pointer;

    #theme-name{
        display: none;
    }
        button {
            position: relative;
            background-color: rgb(221, 221, 221);
            border: 2px solid var(--my-bg-main);
            // padding: 10px 20px;
            // border-radius: 5px;
            line-height: 34px;
            outline: none;
            font-size: 14px;
            margin: 0 auto;
            display: block;
            font-weight: 700;
            border-radius: 4px;
            cursor: pointer;
            color: #333;
            width: 100%;
    margin-bottom: 15px;
            &:hover {
                background-color: #4b6484d5;
                color: #fff;
            }
        }
  
    #favorites {
        display: none;
    }

    .note-baloon {
        cursor: default;
        display: none;
        position: absolute;
        bottom: 66px;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        color: #fff;
        font-family: "font_bcm", sans-serif;
        font-size: 1em;
        line-height: 2em;
        padding: 10px 20px 10px 20px;
        border-radius: 6px;
        background: linear-gradient(#527096, #333550);
        -webkit-border-radius: 6px;
        width: 110%;

        &::after {
            content: "";
            width: 0;
            height: 0px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 15px solid #333550;
            position: absolute;
            bottom: -15px;
            right: calc(50% - 10px);
        }

        #sign-in-start,
        #log-in-start {
            color: #8be3fd;
            cursor: pointer;
            text-decoration: underline;

            &:hover {
                color: #ffa600;
            }
        }

        #log-in-start {
            color: #a7fba7;
        }
    }

  
}

div.save-box:hover {
    .note-baloon {
        display: block;
        transition: .3s;
    }
}

div.save-box2:hover {
    .note-baloon {
        display: none;
    }
}

.circle_shape {
    margin-right: 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #666;
}

.square_shape,
.fade-color {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid #666;
    border-radius: 0%;
}

.fade-color {
    background: url(./../img/gif/color_fade.gif);
}

#style-name {
    width: 100%;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 4px;
    margin-bottom: 13px;
    padding: 18px 8px;
    font-size: 14px;
    color: #023155;
}
.users-layouts{
    text-transform: uppercase;
    color: cadetblue;
}
.fav-user {
    color: #333;

    .fav-item {
        display: flex;
        justify-content: space-between;

        .theme-name {
            cursor: pointer;
            max-width: 130px;
            white-space: nowrap;  
            overflow: hidden;
            text-overflow: ellipsis; 
            &:hover {
                color: #000;
            }
        }

        .remove {
            padding: 3px 8px;
            border: 1px solid #dadad9;
            background-color: #fff;
            color: #922604;
            border-radius: 3px;
            line-height: 16px;
            margin-top: 7px;
            cursor: pointer;

            &:hover {
                border: 1px solid #fff;
                background-color: #922604;
                color: #fff;
            }
        }
    }
}