#works{
    text-align: center;
    width: calc(100% - 30px); 
    margin: 0 auto;
    font-size: var(--my-font-size);
    h3{
      font-size: 2em; 
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .work-box{
      background-color: rgba(255,255,255,.7);
      padding: 30px 0;
      // border-radius: 130px;
      .work-preview{
        width: 150px;
        width: 150px;
        height: 150px;
        // background: url("../../img/world-map.jpg");
        // border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        embed{
          width: 270px;
          height: 270px;
          margin-right: -20px;
          margin-bottom: -20px;
        }
      }
      }
   
  
  }